@import "fonts"
@import "vars"
@import "mixins/mixins"
@import "mixins/mixin"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: rgba(0,0,0,.25)
	border-color: rgba(0,0,0,.25)

html, body
	height: 100%
	z-index: 0
body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	background-color: $white
	overflow-x: hidden
	padding: 0
	margin: 0	
.carousel-inner, .carousel-item
	max-height: 500px
	height: 500px
.carousel-item:nth-child(1)
	background-image: url(https://htdev.ru/images/projects/sites/lantana_1.jpg)
	background-size: cover
	background-position: center 0
.carousel-item:nth-child(2)
	background-image: url(https://htdev.ru/images/projects/sites/lantana_2.jpg)
	background-size: cover
	background-position: center 0  
.carousel-item:nth-child(3)
	background-image: url(https://htdev.ru/images/projects/sites/lantana_3.jpg)
	background-size: cover
	background-position: center 0	
section
	height: 500px
.cnr
	height: 90px
	background-color: darken(#ececec, 11%)
	+border (1px, #fff, all)
.cnr1
	background-color: #ececec
	
@import "media" 
